force-app/main/default/flows/ContactCreateFromAccountLWC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Opens the contact in console</description>
        <name>OpenContactInConsole</name>
        <label>OpenContactInConsole</label>
        <locationX>418</locationX>
        <locationY>293</locationY>
        <actionName>statlwc:openRecordAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>send_notification_on_contact_creation</targetReference>
        </connector>
        <inputParameters>
            <name>sobject</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>send_notification_on_contact_creation</name>
        <label>send notification on contact creation</label>
        <locationX>220</locationX>
        <locationY>293</locationY>
        <actionName>HtmlEmailAction</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <stringValue>Sample email body</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyToEmail</name>
            <value>
                <stringValue>shankhajit.tat.sfdc@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderName</name>
            <value>
                <stringValue>resourceful-panda flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendToEmail</name>
            <value>
                <stringValue>shankhajit.tat.sfdc@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Sample email Subject</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <interviewLabel>ContactCreateFromAccountLWC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactCreateFromAccountLWC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_contact_from_Account</name>
        <label>Create contact from Account</label>
        <locationX>697</locationX>
        <locationY>294</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <connector>
            <targetReference>OpenContactInConsole</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>varFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varLastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>ConfirmationContactDetails</name>
        <label>ConfirmationContactDetails</label>
        <locationX>696</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_contact_from_Account</targetReference>
        </connector>
        <fields>
            <name>showFirstName</name>
            <fieldText>&lt;p&gt;{!varFirstName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showLastName</name>
            <fieldText>&lt;p&gt;{!varLastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showEmail</name>
            <fieldText>&lt;p&gt;{!varEmail}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ContactCreateScreen</name>
        <label>ContactCreateScreen</label>
        <locationX>463</locationX>
        <locationY>68</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConfirmationContactDetails</targetReference>
        </connector>
        <fields>
            <name>simpleflow</name>
            <extensionName>statlwc:flowSimple</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>varAccountId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varEmail</assignToReference>
                <name>email</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varFirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varLastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ContactCreateScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
