force-app/main/default/flows/LWC_Custom_Property_Editor_Example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>secondaryEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>shankhajit.tat@gmail.com</stringValue>
        </value>
    </constants>
    <interviewLabel>LWC Custom Property Editor Example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LWC Custom Property Editor Example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>simpleFlowScreen</name>
        <label>simpleFlowScreen</label>
        <locationX>492</locationX>
        <locationY>72</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Volume_Picker_Screen</targetReference>
        </connector>
        <fields>
            <name>SimpleFlowScreenLWC</name>
            <extensionName>statlwc:flowSimple</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>varAccountId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varEmail</assignToReference>
                <name>email</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varFirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varLastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verification_Screen</name>
        <label>Verification Screen</label>
        <locationX>683</locationX>
        <locationY>333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>secondaryEmailOp</name>
            <fieldText>&lt;p&gt;{!varSecondaryEmail}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Volume_Picker_Screen</name>
        <label>Volume Picker Screen</label>
        <locationX>493</locationX>
        <locationY>291</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verification_Screen</targetReference>
        </connector>
        <fields>
            <name>volumeLWCScreen</name>
            <extensionName>statlwc:volume</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>secondaryEmail</name>
                <value>
                    <stringValue>shankhajit.tat.sfdc@gmail.com</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>simpleFlowScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSecondaryEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>shankhajit.tat.sfdc@gmail.com</stringValue>
        </value>
    </variables>
</Flow>
